services:
  api:
    container_name: evolution_api
    image: evoapicloud/evolution-api:latest
    restart: always
    depends_on:
      - redis
    volumes:
      - evolution_instances:/evolution/instances
    networks:
      - traefik_public
      - postgres_network
      - evolution-net
    env_file:
      - .env
    expose:
      - "8080"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik_public"
      - "traefik.http.routers.evolution.rule=Host(`evolution.videalys.net`)"
      - "traefik.http.routers.evolution.entrypoints=websecure"
      - "traefik.http.routers.evolution.tls.certresolver=letsencrypt"
      - "traefik.http.services.evolution.loadbalancer.server.port=8080"

  redis:
    container_name: evolution_redis
    image: redis:latest
    restart: always
    command: >
      redis-server --port 6379 --appendonly yes
    volumes:
      - evolution_redis:/data
    networks:
      - evolution-net
    expose:
      - "6379"

volumes:
  evolution_instances:
  evolution_redis:


networks:
  traefik_public:
    external: true
  postgres_network:
    external: true
  evolution-net:
    name: evolution-net
    driver: bridge
